#pt{
    font-size: 4rem;
    text-align: center;
}
#pt1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
p{
    font-family:'Times New Roman', Times, serif;
}
img{
    width: 300px;
}
#pt2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
#mainBody{
    background-color: lightgreen;
}
#CBNBody{
    background-color: lightyellow;
}
#cbn{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#cbn1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#cbn2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#PKBody{
    background-color: lightcoral;
}
#pk{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#pk1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#pk2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#as{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#as1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#as2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#ns{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#ns1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ns2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#rs{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#rs1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#rs2 p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#ng{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#ng1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ng2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sj{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#sj1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sj2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
